Repository mailsonpeixe/jenkins-test: changes, and which Jenkins stages are due for each by the changed paths.
All: Build project A, Build project B

Jenkinsfile:

#!/usr/bin/env groovy

pipeline {
    agent any
    options {
        timestamps()
    }
    stages {
        stage('Build project A') {
            when {
                changeset "project-a/**"
            }
            steps {
                build 'project-a'
            }
        }
        stage('Build project B') {
            when {
                changeset "project-b/**"
            }
            steps {
                build 'project-b'
            }
        }
    }
}

Change project B
  .idea/.gitignore
  project-b/readme.md
Due: Build project B

Change project B
  .gitignore
  .idea/jenkins-test.iml
  project-a/Jenkinsfile
  project-a/mirror/build.sh
  project-a/scheduler/build.sh
  project-a/service/build.sh
  project-b/Jenkinsfile
Due: Build project A, Build project B

Change project B
  project-a/Jenkinsfile
Due: Build project A

mirror trigger
  project-a/Jenkinsfile
  project-a/mirror/build.sh
Due: Build project A

mirror trigger
  Jenkinsfile
Due: none

mirror
  project-a/mirror/build.sh
Due: Build project A

projectA
  project-a/readme.md
Due: Build project A

projectA
  Jenkinsfile
Due: none

projectA
  project-a/mirror/build.sh
Due: Build project A

projectAA
  Jenkinsfile
Due: none

projectAAA
  project-a/mirror/build.sh
Due: Build project A

projectAAAA
  Jenkinsfile
Due: none

Mirror
  project-a/mirror/build.sh
Due: Build project A

Mirror
  Jenkinsfile
  project-a/mirror/build.sh
Due: Build project A

Mirror
  project-a/Jenkinsfile
  project-a/mirror/build.sh
Due: Build project A

Mirror
  Jenkinsfile
Due: none

renew Jenkinsfile
  project-a/Jenkinsfile
  project-b/Jenkinsfile
Due: Build project A, Build project B

renew Jenkinsfile
  Jenkinsfile
Due: none

renew Jenkinsfile
  project-a/Jenkinsfile
Due: Build project A

renew Jenkinsfile
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  project-a/Jenkinsfile
Due: Build project A

renew Jenkinsfile
  project-b/Jenkinsfile
Due: Build project B

renew Jenkinsfile
  project-a/Jenkinsfile
  project-a/mirror/build.sh
Due: Build project A

renew Jenkinsfile
  Jenkinsfile
  project-a/Jenkinsfile
Due: Build project A

renew Jenkinsfile
  Jenkinsfile
  project-a/mirror/build.sh
Due: Build project A

build just service
  project-a/service/build.sh
Due: Build project A

root Jenkinsfile
  Jenkinsfile
Due: none

readme
  README.md
Due: none

mudancas
  Jenkinsfile
  project-a/service/build.sh
Due: Build project A

mudancas2
  project-a/service/build.sh
Due: Build project A

mudanca32
  project-a/service/build.sh
Due: Build project A

dockerfile test
  clamav/mirror/build.sh
  clamav/readme.md
  clamav/scheduler/build.sh
  clamav/service/build.sh
  danilo/Jenkinsfile
  danilo/liferayCloud.groovy
  project-a/Jenkinsfile
  project-b/Jenkinsfile
Due: Build project A, Build project B

dockerfile test2
  danilo/liferayCloud.groovy
Due: none
